.place-steps {
    margin-bottom: 32px;
}

.arrival .place-img {
    width: 100%;
    height: 360px;
    background: url(../img/tokyo-chegada-mobile.jpg) no-repeat;
    background-size: cover;
    margin: 24px 0 0;
}

.accommodation .place-img {
    width: 100%;
    height: 300px;
    background: url(../img/tokyo-acomodacao-mobile.jpg) no-repeat;
    background-size: cover;
    margin: 24px 0 0;
}

.subtitle {
    font-size: 14px;
    line-height: 28px;
    font-weight: var(--text-weight);
}


@media screen and (min-width:768px) {
    .arrival {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 24px;
    }

    .arrival .content-text {
        width: 312px;
        
    }

    .arrival .place-img {
        margin: 0;
    }

    .accommodation .place-img {
        background: url(../img/tokyo-acomodacao-tablet.jpg) no-repeat;
        background-size: cover;
        margin: 32px 0 0;
    }

    
}

@media screen and (min-width:1440px) {
    .arrival .content-text {
        width: 588px;
    }

    .arrival .place-img {
        width: 100%;
        height: 360px;
        background: url(../img/tokyo-chegada-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .accommodation .place-img {
        background: url(../img/tokyo-acomodacao-desktop.jpg) no-repeat;
        background-size: cover;
        margin: 32px 0 0;
    }
}