.main-title {
    color: var(--text-secondary-color);
    margin: 0 auto;
    text-align: left;
}

.main-title h1 {
    font-size: 48px;
    font-weight: var(--title-weight);
}

.main-title hr {
    margin: 16px 0 32px;
}

.main-title h2 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
}

@media screen and (min-width:768px) {
    

    .main-title h2 {
        font-size: 32px;
        line-height: 50px;
        font-weight: var(--text-weight);
        max-width: 580px
    }
}

@media screen and (min-width:1440px) {
    
}