.place-steps {
    margin-bottom: 32px;
}

.arrival .place-img {
    width: 100%;
    height: 360px;
    background: url(../img/tokyo-chegada-mobile.jpg) no-repeat;
    background-size: cover;
    margin: 24px 0 0;
}

.accommodation .place-img {
    width: 100%;
    height: 300px;
    background: url(../img/tokyo-acomodacao-mobile.jpg) no-repeat;
    background-size: cover;
    margin: 24px 0 0;
}

.subtitle {
    font-size: 14px;
    line-height: 28px;
    font-weight: var(--text-weight);
}

.blog-posts .osaka {
    background: url(../img/blog-osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

.blog-posts .hiroshima {
    background: url(../img/blog-hiroshima-mobile.jpg) no-repeat;
    background-size: cover;
}

.blog-posts .kyoto {
    background: url(../img/blog-kyoto-mobile.jpg) no-repeat;
    background-size: cover;
}

.blog-posts article .button {
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    .arrival {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 24px;
    }

    .arrival .content-text {
        width: 312px;
        
    }

    .arrival .place-img {
        margin: 0;
    }

    .accommodation .place-img {
        background: url(../img/tokyo-acomodacao-tablet.jpg) no-repeat;
        background-size: cover;
        margin: 32px 0 0;
    }

    .blog-posts .img-item {
        height: 300px;
    }

    .blog-posts .osaka {
        background: url(../img/blog-osaka-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .blog-posts .hiroshima {
        background: url(../img/blog-hiroshima-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .blog-posts .kyoto {
        background: url(../img/blog-kyoto-tablet.jpg) no-repeat;
        background-size: cover;
    }    
}

@media screen and (min-width:1440px) {
    .arrival .content-text {
        width: 588px;
    }

    .arrival .place-img {
        width: 100%;
        height: 360px;
        background: url(../img/tokyo-chegada-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .accommodation .place-img {
        background: url(../img/tokyo-acomodacao-desktop.jpg) no-repeat;
        background-size: cover;
        margin: 32px 0 0;
    }

    .blog-posts {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 24px;
    }

    .blog-posts article {
        width: 384px;
    }

    .blog-posts .osaka {
        background: url(../img/blog-osaka-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .blog-posts .hiroshima {
        background: url(../img/blog-hiroshima-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .blog-posts .kyoto {
        background: url(../img/blog-kyoto-desktop.jpg) no-repeat;
        background-size: cover;
    } 

}