.categories-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.category-btn {
    width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    text-align: center;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-primary-color);
}

.category-btn h3 {
    font-weight: var(--title-weight);
    font-size: 28px;
}

.card-single-line {
    padding-top: 50px;
}

.card-single-line h3 {
    margin-top: 24px;
}

@media screen and (min-width:768px) {
    .categories .section-title {
        width: 100%;
    }
    
    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width:1440px) {
    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .category-btn {
        width: 280px;
    }
}

