.contact-form p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: var(--text-weight);
}

.form-fields {
    margin: 56px auto 0;
}

.form-fields input {
    display: block;
    border: 1px solid #D9D9D9;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 64px;
    padding: 8px;
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
}

.form-fields input::placeholder,
.form-fields label {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    color: #D9D9D9;
}

.form-fields textarea {
    display: block;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 100%;
    height: 90px;
    padding: 8px;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
}

.form-fields input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-fields input:focus::placeholder {
    color: var(--text-primary-color);
}

.form-fields div:focus-within label{
    color: var(--text-primary-color);
}

.form-fields textarea:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
    color: var(--text-primary-color);
}

.form-button {
    text-align: center;
}

.form-fields .button {
    border: none;
    border-radius: 8px;
}

@media screen and (min-width:768px) {
    .contact-form p {
        font-size: 20px;
        line-height: 32px;
    }
}

@media screen and (min-width:1440px) {
    form {
        width: 790px;
        margin: 0 auto;
    }

    .contacts-field {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}
