.content-title span {
    font-size: 40px;
    margin-bottom: 24px;
}

.payments .button {
    margin-top: 24px;
}

.payments .japan-first {
    background: url(../img/montagem-japão-1-mobile.jpg) no-repeat;
    background-size: cover;
}

.payments .japan-second {
    background: url(../img/montagem-japão-2-mobile.jpg) no-repeat;
    background-size: cover;
}

.payments .japan-third {
    background: url(../img/montagem-japão-3-mobile.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .payments .japan-first {
        background: url(../img/montagem-japão-1-tablet.jpg) no-repeat;
        background-size: cover;
    }
    
    .payments .japan-second {
        background: url(../img/montagem-japão-2-tablet.jpg) no-repeat;
        background-size: cover;
    }
    
    .payments .japan-third {
        background: url(../img/montagem-japão-3-tablet.jpg) no-repeat;
        background-size: cover;
    }    
}

@media screen and (min-width:1440px) {
    .payments .japan-first {
        background: url(../img/montagem-japão-1-desktop.jpg) no-repeat;
        background-size: cover;
    }
    
    .payments .japan-second {
        background: url(../img/montagem-japão-2-desktop.jpg) no-repeat;
        background-size: cover;
    }
    
    .payments .japan-third {
        background: url(../img/montagem-japão-3-desktop.jpg) no-repeat;
        background-size: cover;
    }    
}