.destination-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.img-item {
    width: 100%;
    height: 360px;
    margin: 0 auto 24px;
}

.tokyo {
    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.osaka {
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

.item p {
    margin-bottom: 24px;
}

.destinations .button {
    width: 100%;
}

@media screen and (min-width:768px) {
    .img-item {
        width: 100%;
        height: 452px;
        margin: 0 auto 24px;
    }

    .tokyo {
        background: url(../img/tokyo-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .osaka {
        background: url(../img/osaka-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .destinations .button {
        width: 280px;
    }
}

@media screen and (min-width:1440px) {
    .destination-items {
        flex-direction: row;
        align-items: start;
    }
}

