.hero-img {
    height: 400px;
    width: 100%;
    padding: 80px 0;
}

.hero-top {
    background: url(../img/hero-mobile.jpg) no-repeat center;
    background-size: cover;
}

.blog-hero {
    background: url(../img/banner-woman-hiking-mobile.jpg) no-repeat center;
    background-size: cover;
    height: 460px;
}

.destiny-hero {
    background: url(../img/destiny-banner-mobile.jpg) no-repeat center;
    background-size: cover;
    height: 460px;
}

.contact-hero {
    background: url(../img/contato-banner-mobile.jpg) no-repeat center;
    background-size: cover;
    height: 460px;
}

.hero-botton {
    background: url(../img/banner-foto-cidade-litoranea-mobile.jpg) no-repeat center;
    background-size: cover;
}

.hero-botton-destiny {
    background: url(../img/destiny-banner-footer-mobile.jpg) no-repeat center;
    background-size: cover;
}

.hero-botton-contact {
    background: url(../img/contato-banner-footer-mobile.jpg) no-repeat center;
    background-size: cover;
}

.main-title {
    color: var(--text-secondary-color);
    margin: 0 auto;
    text-align: left;
}

.main-title h1 {
    font-size: 48px;
    font-weight: var(--title-weight);
}

.main-title hr {
    margin: 16px 0 32px;
}

.main-title h2 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
}

.hero h2 {
    padding: 88px 24px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width:768px) {
    .hero-img {
        padding: 160px 0;
    }

    .hero-top {
        height: 620px;
        background: url(../img/hero-tablet.jpg) no-repeat;
        background-size: cover;
    }
    
    .blog-hero {
        background: url(../img/banner-woman-hiking-tablet.jpg) no-repeat center;
        background-size: cover;
        height: 620px;
    }

    .destiny-hero {
        background: url(../img/destiny-banner-tablet.jpg) no-repeat center;
        background-size: cover;
        height: 620px;
    }

    .contact-hero {
    background: url(../img/contato-banner-tablet.jpg) no-repeat center;
    background-size: cover;
    height: 620px;
}

    .hero-botton {
        background: url(../img/banner-foto-cidade-litoranea-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .hero-botton-destiny {
        background: url(../img/destiny-banner-footer-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .hero-botton-contact {
        background: url(../img/contato-banner-footer-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .main-title h2 {
        font-size: 32px;
        line-height: 50px;
        font-weight: var(--text-weight);
        max-width: 580px
    }

    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
    }

}

@media screen and (min-width:1024px) {
    .hero-top {
        height: 620px;
        background: url(../img/hero-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .blog-hero {
        background: url(../img/banner-woman-hiking-desktop.jpg) no-repeat center;
        background-size: cover;
    }

    .destiny-hero {
        background: url(../img/destiny-banner-desktop.jpg) no-repeat center;
        background-size: cover;
    }

    .contact-hero {
    background: url(../img/contato-banner-desktop.jpg) no-repeat center;
    background-size: cover;
}

    .hero-botton {
        height: 600px;
    }

    .hero-botton-destiny {
        background: url(../img/destiny-banner-footer-desktop.jpg) no-repeat;
        background-size: cover;
        height: 600px;
    }

    .hero-botton-contact {
        background: url(../img/contato-banner-footer-desktop.jpg) no-repeat;
        background-size: cover;
        height: 600px;
    }

    .hero h2 {
        padding: 88px 120px;
        font-size: 32px;
    }

}

