.hero-img {
    height: 400px;
    width: 100%;
    padding: 80px 0;
}

.hero-top {
    background: url(../img/hero-mobile.jpg) no-repeat center;
    background-size: cover;
}

.hero-botton {
    background: url(../img/banner-foto-cidade-litoranea-mobile.jpg) no-repeat center;
    background-size: cover;
}

.blog-hero {
    background: url(../img/banner-woman-hiking-mobile.jpg) no-repeat center;
    background-size: cover;
    height: 460px;
}

.hero h2 {
    padding: 88px 24px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width:768px) {
    .hero-img {
        padding: 160px 0;
    }

    .hero-top {
        height: 620px;
        background: url(../img/hero-tablet.jpg) no-repeat;
        background-size: cover;
    }
    
    .blog-hero {
        background: url(../img/banner-woman-hiking-tablet.jpg) no-repeat center;
        background-size: cover;
        height: 620px;
    }

    .hero-botton {
        background: url(../img/banner-foto-cidade-litoranea-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
    }

}

@media screen and (min-width:1024px) {
    .hero-top {
        height: 620px;
        background: url(../img/hero-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .blog-hero {
        background: url(../img/banner-woman-hiking-desktop.jpg) no-repeat center;
        background-size: cover;
        height: 620px;
    }

    .hero-botton {
        height: 600px;
    }

    .hero h2 {
        padding: 88px 120px;
        font-size: 32px;
    }

}

