.card {
    padding: 24px 16px;
    color: var(--text-secondary-color);
    width: 312px;
    height: 288px;
    background-color: black;
    border-radius: 16px;
    text-align: center;
}

.card header {
    display: block;
    background-color: transparent;
    padding: 0;
    position: static;
}

.card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin-top: 8px;
}

.card header span {
    font-size: 32px;
    display: inline-block;
    margin-top: 24px;
}


